{{define "captcha-page"}}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{template "bootstrap-include"}}
        <title>Error</title>
        {{template "global-include"}}
        <link rel="stylesheet" href="/static/css/search-page.css" />
    </head>
    <body>
        <div class="container-md d-flex align-items-center justify-content-center">
            <div class="card mt-5">
                <div class="card-header">Error</div>
                <div class="card-body">
                    <h5 class="card-title">Google required captcha for this request</h5>
                    <p class="card-text">but captcha handling is not implemented yet</p>
                    <a href="{{.SearchRedirectUrl}}" class="btn btn-primary">Google</a>
                </div>
            </div>
        </div>
    </body>
</html>

{{end}}
