{{define "image-search-page"}}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{template "bootstrap-include"}}
        <!--  -->
        {{template "sitelook-title" .}}
        <!--  -->
        {{template "global-include"}}
        <link rel="stylesheet" href="/static/css/search-page.css" />
    </head>
    <body>
        <div class="container-md my-3">
            {{template "search-page-navigation" .}}

            <div class="d-flex flex-row flex-wrap justify-content-center align-items-start">
                {{range .ImageResults}}
                <div class="card m-2" style="width: 13rem">
                    <a href="{{.ImageLinkHref}}">
                        <img src="{{.ImageSrc}}" class="card-img-top" alt="{{.Title}}" />
                    </a>
                    <div class="card-body">
                        <h6 class="card-subtitle">{{.Title}}</h6>
                        <a href="{{.TitleLinkHref}}" class="card-link">{{.UrlTitle}}</a>
                    </div>
                </div>
                {{end}}
            </div>

            {{template "search-page-pagination" .Pagination}}
        </div>
    </body>
</html>

{{end}}
