{{define "search-page"}}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{template "bootstrap-include"}}
        {{template "sitelook-title" .}}
        {{template "global-include"}}
        <link rel="stylesheet" href="/static/css/search-page.css" />
    </head>
    <body>
        <div class="container-md my-3">
            {{template "search-page-navigation" .}}

            <span></span>
            {{template "search-content" .}}
            <span></span>

            {{if .SearchResults}}
                {{template "search-page-pagination" .Pagination}}
            {{end}}
        </div>
    </body>
</html>

{{end}}
