{{ define "search-page.html" }}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sitelook</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
            defer
        ></script>
        <link rel="stylesheet" href="/static/css/search-page.css" />
    </head>
    <body>
        <div class="container-md my-5">
            <form action="#">
                <div class="input-group mb-5">
                    <input
                        type="text"
                        class="form-control"
                        placeholder=""
                        aria-label="Recipient's username"
                        aria-describedby="button-addon2"
                    />
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        Search
                    </button>
                </div>
            </form>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <a href="#" class="link-underline link-underline-opacity-0">
                        <span class="h5">Name of the site</span>
                    </a>
                    <br />
                    <a
                        href="#"
                        class="link link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        >example.com/something</a
                    >
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto
                        tempora corporis et est. Pariatur, delectus molestias animi minima fuga nisi
                        numquam voluptatem esse reprehenderit sit nobis, hic natus quas consectetur
                        vero! Debitis ad cumque esse ullam voluptates laboriosam quas, quis nostrum
                        dolorem facilis molestiae earum facere repellendus quam voluptas.
                    </p>
                </div>
            </div>

            <nav aria-label="pagination" class="mt-5">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>

{{ end }}
