{{define "search-page-navigation"}}
<span class="h4 text-primary-emphasis">sitelook ⌕</span>

<form action="/search" method="get">
    <div class="input-group mt-3">
        <input
            name="q"
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            value="{{.SearchTerm}}"
        />
        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </div>
</form>

<ul class="nav nav-pills my-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{.Navigation.AllSearchHref}}">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{.Navigation.ImageSearchHref}}">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{.Navigation.VideoSearchHref}}">Videos</a>
    </li>
</ul>

{{if .SearchCorrection.Present}}
<span>{{.SearchCorrection.Title}}</span>
<a href="{{.SearchCorrection.CorrectionHref}}">{{.SearchCorrection.CorrectSearchTerm}}</a>
{{end}}

<span></span>
{{end}}
