{{define "search-page-input"}}
<a href="/" class="link-primary link-underline-opacity-0">
    <span class="h4 text-primary-emphasis">sitelook ⌕</span>
</a>

<form action="/search" method="get">
    <div class="input-group mt-3">
        <input
            name="q"
            type="text"
            class="form-control"
            value="{{.SearchTerm}}"
            autocomplete="off"
        />

        {{if .Navigation.SearchQueryParam}}
        <input name="tbm" type="hidden" value="{{.Navigation.SearchQueryParam}}" />
        {{end}}

        <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </div>
</form>
{{end}}
